################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularProject1/FileContentIndex/35e7bd55-cb61-4818-ae31-e680559dabae.vsidx
/.vs/AngularProject1/FileContentIndex/636890a2-aea6-4030-9ab1-564a6f9fcd41.vsidx
/.vs/AngularProject1/FileContentIndex/795bba3c-c0e2-4598-bfb4-9f4ebc083e4d.vsidx
/.vs/AngularProject1/FileContentIndex/e492df50-8e53-4fcb-a8f3-1d7cb8e9de6c.vsidx
/.vs/AngularProject1/FileContentIndex/f9158fca-2109-4f20-97df-e983f83a4c04.vsidx
