################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularProject1/FileContentIndex/35e7bd55-cb61-4818-ae31-e680559dabae.vsidx
